azure-ai-projects==1.0.0b10
azure-ai-evaluation
azure-search-documents
azure-core
azure-core-tracing-opentelemetry
azure-monitor-opentelemetry
azure-storage-blob
numpy
pandas
pyarrow
adlfs
python-dotenv==1.0.0
langchain-openai
langchain
langgraph 
langchain-community
langchain-azure-ai
langchain-mcp-adapters
opentelemetry-instrumentation-threading
openapi-schema-pydantic
openapi-pydantic
semantic-kernel==1.29.0
jsonref
gql
tabulate
requests