azure-ai-projects==1.0.0b10
azure-ai-ml==1.26.5
azure-ai-evaluation==1.5.0
azure-search-documents==11.5.2
azure-core==1.33.0
azure-core-tracing-opentelemetry==1.0.0b12
azure-monitor-opentelemetry==1.6.8
azure-storage-blob
numpy
pandas
pyarrow
adlfs==2024.12.0
python-dotenv==1.0.0
langchain-openai==0.3.15
langchain==0.3.24
langgraph==0.4.1
langchain-community
langchain-azure-ai==0.1.2
langchain-mcp-adapters==0.0.9
opentelemetry-instrumentation-threading
openapi-schema-pydantic
openapi-pydantic
semantic-kernel==1.29.0
jsonref
gql
tabulate
requests