azure-ai-projects==1.0.0b7
azure-search-documents
azure-core
azure-core-tracing-opentelemetry
azure-monitor-opentelemetry
azure-storage-blob
numpy
pandas
pyarrow
adlfs
python-dotenv==1.0.0
langchain-openai
langchain
langgraph 
langchain-community
langchain-azure-ai
opentelemetry-instrumentation-threading
openapi-schema-pydantic
openapi-pydantic
semantic-kernel
jsonref
gql
tabulate