azure-functions
azure-functions-durable
azure-storage-blob
azure-search-documents==11.5.2
azure-identity==1.17.1
azure-core
requests
PyMuPDF
pypdf
python-dotenv==1.0.0
langchain-openai
langchain
langchain-community